 .u-section-1 {
  min-height: 672px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 824px);
  left: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 582px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 102px;
  height: 102px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  width: 102px;
  height: 102px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 582px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 86px 60px 0;
}

.u-section-1 .u-text-2 {
  margin: 14px 60px 0;
}

.u-section-1 .u-text-3 {
  margin: 14px 68px 0 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 606px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 679px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 480px;
  }

  .u-section-1 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin: 0 auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 480px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 5px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2390px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 429px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 254px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 720px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 734px;
  }

  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 126px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 453px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 698px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 629px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 15px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 629px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  font-weight: 500;
  margin: 106px auto 0;
  padding: 10px 54px 10px 52px;
}

.u-section-2 .u-btn-2 {
  font-weight: 500;
  margin: 25px auto 0;
  padding: 10px 38px 10px 37px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 500;
  margin: 25px auto 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 500;
  margin: 25px auto 0;
  padding: 10px 42px 11px 41px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 387px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 387px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 387px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }

  .u-section-2 .u-btn-2 {
    border-style: none;
    padding-top: 9px;
    padding-left: 38px;
  }

  .u-section-2 .u-btn-3 {
    border-style: none;
  }

  .u-section-2 .u-btn-4 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-left: 210px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 311px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 311px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 311px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 300px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 111px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 111px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 111px;
  }
}